process {
    executor = 'google-batch'
    container = 'gcr.io/gatk-resources-490700/gatk-pipeline:v2.8'

}

google {
    project = 'gatk-resources-490700'
    location  = 'us-west1'
    batch {
        spot = true
    }
}

includeConfig "./params.config"

workDir = 'gs://gatk-resource-bucket/work'