process {
    executor = 'google-batch'
    container = 'gcr.io/gatk-resources-490700/gatk-pipeline:v2.8'

    withLabel: big_mem {
        cpus = 16
        memory = 64.GB
    }

    withLabel: small_mem {
        cpus = 2
        memory = 8.GB
    }
}

google {
    project = 'gatk-resources-490700'
    location  = 'us-west1'
    batch {
        spot = true
        volumes = ['/mnt/disks/gatk-resource-bucket:gs://gatk-resource-bucket:rw']
    }
}

includeConfig "./params.config"

workDir = 'gs://gatk-resource-bucket/work'